<h2>Edit Post</h2>
<hr>

<% @post.pics.each do |x| %>
 
    
        <br>
        
        <a href="/pics/<%=x.id%>"> <%= image_tag(x.image.url, size: "200x200") %> </a>
        
        <%= link_to "Destroy", pics_del_path(x), method: :delete, data: {confirm: "Are you sure?"} %>
       
<% end %>
   <br><hr>
<%= form_for @post, html: {multipart: true} do |f| %>
 
  <%= f.label :"Add new image(s):" %>
  <br><br>
   <p align="center"><%= f.file_field(:image, :multiple => true, class: "btn btn-mini" )  %></p>
   <br><hr> 
    <div class="pic" id="uniq"> </div>
  <br><hr>
  <%= f.label :"Update description:" %>
  <br>
  <%= f.text_area(:description, size: "172x8")  %>
  <hr>
  <%= f.submit :Update,class: "btn btn-primary" %>

  <% end %> 

<script type="text/javascript">
    $(document).ready(function(){
    function readURL(input) {
      for(i=0;i<input.files.length;i++){
      if (input.files && input.files[i]) {
        var reader = new FileReader();
            
        reader.onload = function (e) {
            //$('#blah').attr('src', e.target.result);
            $('#uniq').prepend('<li> <img src=" '+e.target.result+' " height="200" width="200" /> </li>')
            }
            
            reader.readAsDataURL(input.files[i]);
        }
    } 
  }
     $("#post_image").change(function(){
        readURL(this);  });
});
</script>


<style type="text/css">

  img {
      border-radius: 8px;
      }



</style>
  