<h2>Edit Post</h2>
<hr>

<% @post.pic.each do |x| %>
  <div >
    <br><br>
    <tr>
      <td>
        <div class="pic">
        <a href="/posts/<%= x.id %>"> <%= image_tag(x.image.url, size: "300x300") %> </a>
        </div>
       </td>
       </tr>
      <br><br>
    
      <tr>
        <td>
        <%= link_to "Destroy", pics_del_path(x), method: :delete, data: {confirm: "Are you sure?"} %>
        </td>
      </tr>
      <% end %>
   </div>
   
   <br><hr>
<%= form_for @post, html: {multipart: true} do |f| %>
 
  <%= f.label :"Add new image(s):" %>
  <br><br>
   <p align="center"><%= f.file_field(:image, :multiple => true, class: "btn btn-mini" )  %></p>
   <br><hr> 
    <div class="pic" id="uniq"> </div>
  <br><hr>
  <%= f.label :"Update description:" %>
  <br>
  <%= f.text_area(:description, size: "172x8")  %>
  <hr>
  <%= f.submit :Update,class: "btn btn-primary" %>

  <% end %> 

<script type="text/javascript">
    $(document).ready(function(){
    function readURL(input) {
      for(i=0;i<input.files.length;i++){
      if (input.files && input.files[i]) {
        var reader = new FileReader();
            
        reader.onload = function (e) {
            //$('#blah').attr('src', e.target.result);
            $('#uniq').prepend('<li> <img src=" '+e.target.result+' " height="350" width="470" /> </li>')
            }
            
            reader.readAsDataURL(input.files[i]);
        }
    } 
  }
     $("#post_image").change(function(){
        readURL(this);  });
});
</script>


<style type="text/css">

  img {
      border-radius: 8px;
      }

  div.pic {
    margin: auto;
    width: 27%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 10px 0 rgba(0, 0, 0, 0.20);
    }

</style>
  