<% @post.each do |x| %>
  <div >
    <br><br>
    <tr>
      <td>
        <div class="pic">
        <%  x.pic.each do |y| %>
          <a href="/pics/<%=y.id%>"> <%= image_tag(y.image.url, size: "300x300") %> </a>
          <% end %>
        </div>
        
        
      </td>
       </tr>
       <br><br>
      <tr>
        <td>
        <p class="lead"> <%= x.description %> </p> 
      </td>
      </tr>
      <br><br>
      <% if user_signed_in? %>
      <tr>
        <td>
          <%= link_to "Edit", edit_post_path(x) %>
        </td>
        <td>
        <%= link_to "Destroy", x, method: :delete, data: {confirm: "Are you sure?"} %>
      </td>
      </tr>
      <% end %>
   </div>

   <style> 
 div.pic {
    margin: auto;
    padding: 50px;
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  img {
      border-radius: 8px;}

    p.lead {
    text-align: center;
    padding: 10px 20px;
}
 </style>
<% end %>