<% @posts.each do |post| %>
  <hr>
  <div >
    <p class="lead">
      Post by: <%= post.user.email %>
    </p>
    <% if user_signed_in? %>
      
          <%= link_to "Edit-Post |", edit_post_path(post) %>
        
          <%= link_to "| Delete-Post", post, method: :delete, data: {confirm: "Are you sure?"} %>
      
    <% end %>
    <br><br>
    
    <div class="pic">
      <ul class="bxslider">
        <%  post.pics.each do |pic| %>
         <li>
          <a href="/pics/<%=pic.id%>"> <%= image_tag(pic.image.url, size: "570x400") %> </a>
          </li>
        <% end %>
      </ul>
      </div>
    <p class="lead"> <%= post.description %> </p>

    <div class="up-down">
      <% if !(user_signed_in?) %>
        <a href="/likes/show/like/<%= post.id %>" > <%= post.likes.where(vote: true).count.to_s+" " %></a><button class="far fa-thumbs-up"></button>
      <% end %>
      <% if user_signed_in? %>
        <% if current_user.already_likes?(post.id) and current_user.likes.find_by(post_id: post.id).vote == true %>
         <a href="/likes/show/like/<%= post.id %>" > <%= post.likes.where(vote: true).count.to_s+" " %></a><button class="far fa-thumbs-up"></button>
        <% elsif current_user.already_likes?(post.id) and current_user.likes.find_by(post_id: post.id).vote == false %>
          <%= form_tag("likes/up", method: "post", style: 'display:inline;') do %>
            <%= hidden_field_tag(:post_id, "#{post.id}") %>
            <%= hidden_field_tag(:like_id, "#{current_user.likes.find_by(post_id: post.id).id}") %>
            <!-- <%= submit_tag("Like(s)") %> -->
            <a href="/likes/show/like/<%= post.id %>" > <%= post.likes.where(vote: true).count.to_s+" " %></a><button class="far fa-thumbs-up"></button>
          <% end %>
        <% else %>
          <%= form_tag("likes/up", method: "post", style: 'display:inline;') do %>
            <%= hidden_field_tag(:post_id, "#{post.id}") %>
           <!--  <%= submit_tag("Like(s)") %> -->
            <a href="/likes/show/like/<%= post.id %>" > <%= post.likes.where(vote: true).count.to_s+" " %></a><button class="far fa-thumbs-up"></button>
          <% end %>
        <% end %>
      <% end %>
      <% if !(user_signed_in?) %>
        <a href="/likes/show/dislike/<%= post.id %>" > <%= post.likes.where(vote: false).count.to_s+" " %></a><button class="far fa-thumbs-down"></button>
      <% end %>
      <% if user_signed_in? %>
       <% if current_user.already_likes?(post.id) and current_user.likes.find_by(post_id: post.id).vote == false  %>
          <a href="/likes/show/dislike/<%= post.id %>" > <%= post.likes.where(vote: false).count.to_s+" " %></a><button class="far fa-thumbs-down"></button>
        <% elsif current_user.already_likes?(post.id) and current_user.likes.find_by(post_id: post.id).vote == true %> 
          <%= form_tag("likes/down", method: "post", style: 'display:inline;') do %>
            <%= hidden_field_tag(:post_id, "#{post.id}") %>
            <%= hidden_field_tag(:like_id, "#{current_user.likes.find_by(post_id: post.id).id}") %>
           <a href="/likes/show/dislike/<%= post.id %>" > <%= post.likes.where(vote: false).count.to_s+" " %></a><button class="far fa-thumbs-down"></button>
          <% end %>
        <% else %>
          <%= form_tag("likes/down", method: "post", style: 'display:inline;') do %>
            <%= hidden_field_tag(:post_id, "#{post.id}") %>
            <a href="/likes/show/dislike/<%= post.id %>" > <%= post.likes.where(vote: false).count.to_s+" " %></a><button class="far fa-thumbs-down"></button>
          <% end %>
        <% end %>
      <% end %>
    </div>
     <hr>
     <% if post.comments.count > 0 %>
        <div class="show-comments">
          <button id="show<%= post.comments.ids[0] %>" class= "btn btn-primary btn-md" onclick="showHideComments(<%= post.comments.ids[0] %>)">
           Show Comments
          </button>
          <br><br>
          <div id="myDIV<%= post.comments.ids[0] %>" style="display: none" >
            <% post.comments.each do |comment| %>
            <p>
              <mark style="background-color: #D0D3D4; border-radius: 10px;"> <b><%= User.find(comment.user_id).email %>:</b> <%= comment.description %></mark>
               
            </p>
            <br>
            <% if user_signed_in? and comment.user_id == current_user.id %>
              
                  <%= link_to "Edit    ", edit_comment_path(comment) %>
             
                  <%= link_to "    Delete", comment, method: :delete %>
              
            <% end %>
          <br> <hr>
          <% end %>
        </div>
      </div>
    <% end %>
        
    <% if user_signed_in? %>
      <div class="comments">
        <div class="row">
          <div class="col-xs-12">
            <%= form_for(Comment.new, :html => {class: "form-horizontal", role: "form"}) do |f| %>
                <%= f.hidden_field :post_id, :value => post.id %>
                <div class="form-group">
                  <div class="control-label col-sm-2">
                    <%= f.label :"comment:" %>
                  </div>

                  <div class="col-sm-8">
                  <%= f.text_area :description, rows: 3, class: "form-control", placeholder: "Please enter a comment", autofocus: true %>
                  </div>
                </div>

                <div class="form-group">
                  <div class="center col-sm-offset-1 col-sm-10">
                    <%= f.submit :Comment,  class: "btn btn-primary btn-md" %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <hr>
  </div>
<% end %> 

   <style> 
 div.pic {
    margin: auto;
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 10px 0 rgba(0, 0, 0, 0.20);
}
  img {
      border-radius: 8px;}

    p.lead {
    text-align: center;
    padding: 10px 20px;
}
 </style>


 <script type="text/javascript">
   $(document).ready(function(){
   $('.bxslider').bxSlider();
   });


   function showHideComments(e) {
    var x = document.getElementById(`myDIV${e}`);
    if (x.style.display === "none") {
        document.getElementById(`show${e}`).innerHTML = "Hide comments";
        x.style.display = "block";
    } else {
         document.getElementById(`show${e}`).innerHTML = "Show comments";
        x.style.display = "none";
    }
}

</script>

